:root{
    --BACKGROUND-COLOR: #fff;
    --TEXT-COLOR: #000;
    --BRIGHTNTESS: 1;
}
[data-theme = 'dark']{
    --BACKGROUND-COLOR: #1e1e1e;
    --TEXT-COLOR: #fff;
    --BRIGHTNESS: 0.65;
    transition: background-color 1s ease-in-out;
}
:is(.card,.modal-body){
    filter: brightness(var(--BRIGHTNESS))
}
body{
    max-width: 100%!important;
    overflow-x: hidden;
    background-color: var(--BACKGROUND-COLOR)!important;
    color: var(--TEXT-COLOR);
    scrollbar-gutter: stable;
}
#myPieChart{
    border: var(--BACKGROUND-COLOR)
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: rgba(183, 180, 180, 0.55);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.119);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(14, 160, 217, 0.219); 
}
.accordionButton:focus, .accordionButton:active{
    border: none;
    outline: none;
}

:is(#offcanvas,#offcanvas .nav-item,#offcanvas .nav-link,.accordion-button,.accordion-body,.accordion-collapse,#offcanvas div){
    /* background-color: var(--BACKGROUND-COLOR)!important;
    color: var(--TEXT-COLOR)!important; */
    transition: all 0.5s;
}
#offcanvas{
    transition: all 0.35s; 
}
#offcanvas a, #accordionButton{
    font-size: 20px;
}
#accordionButton img{
    transition: all 0.25s;
}
#accordion{
    transition: all 0.25s;
}
#accordion .nav-link.text-black:first-child {
    font-size: 16px;
  }
  #accordion .nav-link.text-black:last-child {
    font-size: 16px;
  }
.accordion:focus, .accordion-item:focus, .accordion-button:focus{
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
}
.activeArrow{
    transform: rotateZ(180deg);
}
.btn-close:active{
    border: none;
    outline: none;
}
.active{
    background-color: gray;
}
.form-switch{
    left: 30px;
    width:50%;
}
.form-switch label{
    text-align: center;
}
#switch{
    font-size: 1.5rem;
    color: black;
}
#navUl li{
    padding: 15px 0 5px 0px;
}
.chart-container{
    height: 280px;
}
#sortMenu a{
    text-decoration: none!important;
}
.card{
    position: relative;
}
.card-body img{
    width: 30px;
    height: 30px;
}
#dashExpenseList{
    max-height: 450px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}
.dropdown-item{
    cursor: pointer;
}
#modalButton{
    right: 10px;
}
#modalButton button{
    font-size: 1.5rem;
    transition: all 0.15s;
}
#modalButton button:active{
    transform: scale(1.05);
}
#previewImgContainer{
    max-width: 200px;
    max-height: 400px;
    background-size: cover;
}
#previewImgContainer img{
    max-width: 185px;
    height: auto;
    object-fit: contain;
}
.badge{
    cursor: pointer;
}
#resetArrow{
    width: 15px;
    cursor: pointer;
    right: 15px;
    transform: translateY(5px);
    transition: all 1s;
}
#dashBoardReason{
    font-size: 1.5rem;
    font-weight: 400;
}
#dashBoardMonth{
    font-weight: 400;
    color: rgb(165, 165, 165);
    font-size: 0.85rem;
}
.dashBoardAmount{
    font-size: 2.5rem;
    font-weight: 200;
    padding-right: 1rem;

}
.dashBoardGroupAmount{
    font-size: 1.85rem;
    font-weight: 325;
}
#moreButton{
    background-color: var(--BACKGROUND-COLOR)!important;
    background: rgba(255, 255, 0, 0)!important; 

}
#dashExpenseList .card{
    scroll-behavior: smooth;
}
#dueCard{
    min-height: 25vh;
    max-height: 27vh;
    overflow-y: auto;
    scrollbar-gutter: stable;
}
.percentage{
    font-size: 1.25rem;
}
.alertContainer{
    /* opacity: 0.55; */
    backdrop-filter: 5px;
    /* top: 5vh!important; */
    translate: -50% 0%;
    z-index: 1050!important;
    animation: fade 2500ms ease-in-out;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    25%, 50%, 75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
footer{
    height: 25vh;
}